header img {
    width: 60px;
    border-radius: 50%;
}
.header {
    grid-area: h;
    background-color: #6c9645;
}

.loginBlock {
   font-weight: bold;
    float: right;
    padding: 10px;
    color: #8C3696;
}

